/* Root Styles */
:root{
    --primary-color: ;
    --secondary-color: ;
    --accent-color: ;
}

/* To be Deleted */ 

/* div, section, nav, header, footer {border: 1px solid red;}
h3, h4, h5, h6 {border: 1px solid yellow;}
h1, h2 {border: 1px solid grey;}
p, a{border: 1px solid pink;}
hr, img{border: 1px solid blue;}  */

/* General Code Starts here */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* make sure there is no overlap */
[class*=grid-], 
[class*=grid_], 
[class~=grid] {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  margin: 0;
}

 /* this overrides the default padding and margin on gridlex elements */
 [class*=grid] {   margin: 0;  }
 [class*=col]  {   padding: 0; }

/* Add Font */

@font-face {
    font-family: ;
    src: url('');
}

@font-face {
    font-family: ;
    src: url('');
}

html 
  {
  scroll-behavior: smooth; /* this enables smooth scrolling between internal links */
  overflow-x: hidden;
  touch-action: manipulation;
  }

/* Padding annd Margin Standard Styles */

/* Padding Utility Classes */

.padded-xsm { padding: 1.5%; }
.padded-sm { padding: 2.5%; }
.padded    { padding: 5%;   }
.padded-lg { padding: 10%;  }

.padded-sides {padding: 0% 5%;}

.padded-05 { padding: 0.5rem; }
.padded-1  { padding: 1rem; }
.padded-2  { padding: 2rem; }

.padded-t  { padding-top: 5%; }
.padded-b  { padding-bottom: 5%; }
.padded-l  { padding-left: 5%; }
.padded-r  { padding-right: 5%; }

.padded-tb  { padding-top: 5%; padding-bottom: 5%; }
.padded-lr  { padding-left: 5%; padding-right: 5%; }

.padded-t-1 { padding-top: 1rem; }
.padded-b-1 { padding-bottom: 1rem; }
.padded-l-1 { padding-left: 1rem; }
.padded-r-1 { padding-right: 1rem; }

.padded-t-2 { padding-top: 2rem; }
.padded-b-2 { padding-bottom: 2rem; }
.padded-l-2 { padding-left: 2rem; }
.padded-r-2 { padding-right: 2rem; }

.padded-t-0 { padding-top: 0; }
.padded-b-0 { padding-bottom: 0; }
.padded-l-0 { padding-left: 0; }
.padded-r-0 { padding-right: 0; }

/* Margin Utility Classes */ 

.margin-t { margin-top: 5%; }
.margin-b { margin-bottom: 5%; }
.margin-l { margin-left: 5%; }
.margin-r { margin-right: 5%; }

.margin-t-1 { margin-top: 1rem; }
.margin-b-1 { margin-bottom: 1rem; }
.margin-l-1 { margin-left: 1rem; }
.margin-r-1 { margin-right: 1rem; }

.margin-t-2 { margin-top: 2rem; }
.margin-b-2 { margin-bottom: 2rem; }
.margin-l-2 { margin-left: 2rem; }
.margin-r-2 { margin-right: 2rem; }

.margin-t-0 { margin-top: 0; }
.margin-b-0 { margin-bottom: 0; }
.margin-l-0 { margin-left: 0; }
.margin-r-0 { margin-right: 0; }

.margin-tb { margin-top: 5%; margin-bottom: 5%; }
.margin-lr { margin-left: 5%; margin-right: 5%; }
.margin-lr-sm { margin-left: 2%; margin-right: 2%; }


/* Typography standard styles */

.text-left    { text-align: left; }
.text-right   { text-align: right; }
.text-center  { text-align: center; }


body {
  font-family: "Arial", sans-serif;  /* Add your font here */ 
}
h1, h2{
    font-family: Greycliff-Regular;
}
h3, h4, h5, h6 {
    font-family: Raleway;
}

h2, h3, h4, h5, h6 {
    line-height: 1.1;
    margin-bottom: 1.2rem;
}

p {
    font-family: Open-Sans;
    line-height: 1.4; 
    margin-bottom: 1rem;
}

a{
    font-family: Raleway;
    font-weight: 100;
    text-decoration: none;
}

h2:last-child, 
h3:last-child, 
h4:last-child, 
h5:last-child, 
h6:last-child, 
p:last-child {
	margin-bottom: 0;
}
