<section id="content-blocks-{{forloop.index0}}">
    <section class = "grid-center padded-sides-sm center " id = "{{item.content-block-link}}">
            <!-- Image 2 -->
            <section class = "col-5_sm-12 background-image gallery-border margin-l-1 margin-b-1" style = "background-image: url('{{item.1_image}}'); min-height: 60vh; " data-fancybox="gallery" href = "{{item.1_image}}">
                
            </section>
            <!-- Image 3 -->
            <section class = "col-5_sm-12 background-image gallery-border margin-l-1 margin-b-1" style = "background-image: url('{{item.2_image}}'); min-height: 60vh;" data-fancybox="gallery" href = "{{item.2_image}}">
        </section>
    </section>
</section>
