<style>
    #content-blocks-{{forloop.index0}} .two-image-grid{
        padding: 0% 29%;
    }

    @media(max-width: 768px){
        #content-blocks-{{forloop.index0}} .two-image-grid{
        padding: 0% 25%;
    }
    }

    @media(max-width: 550px){
        #content-blocks-{{forloop.index0}} .two-image-grid{
        padding: 0% 15%;
    }
    }
</style>

<section id="content-blocks-{{forloop.index0}}">
    <section class = "grid-center center two-image-grid" id = "{{item.content-block-link}}">
            <!-- Image 2 -->
            <section class = "col-5_sm-12 background-image gallery-border margin-b-1" style = "background-image: url('{{item.1_image}}'); min-height: 50vh; margin-left: 1%;" data-fancybox="gallery" href = "{{item.1_image}}">
                
            </section>
            <!-- Image 3 -->
            <section class = "col-5_sm-12 background-image gallery-border margin-b-1" style = "background-image: url('{{item.2_image}}'); min-height: 50vh; margin-left: 1%;" data-fancybox="gallery" href = "{{item.2_image}}">
        </section>
    </section>
</section>
