<section id="content-blocks-{{forloop.index0}}">
    <section class = "grid padded-sides-lg" id = "{{item.content-block-id}}">
            <!-- Image 2 -->
            <section class = "col-6_sm-12 background-image gallery-border" style = "background-image: url('{{item.1_image}}'); min-height: 50vh; " data-fancybox="gallery" href = "{{item.1_image}}">
                
            </section>
            <!-- Image 3 -->
            <section class = "col-6_sm-12 background-image gallery-border" style = "background-image: url('{{item.1_image}}'); min-height: 50vh;" data-fancybox="gallery" href = "{{item.1_image}}">
        </section>
    </section>
</section>
