<style>

  #content-blocks-{{forloop.index0}} .background-image {min-height: 300px;}
  
  #content-blocks-{{forloop.index0}} h3 
  {
  font-size: 3rem;
  margin-bottom: 5%;
  font-family:  Editors Note Light;
  letter-spacing: -1px;
  
  }


  
  @media(max-width:780px) 
  {
  
  #content-blocks-{{forloop.index0}} h3
    {
    font-size: 1rem;
    }

  #content-blocks-{{forloop.index0}} .background-image {min-height: 200px;}
  }

  @media(max-width:400px) 
  {
  
  #content-blocks-{{forloop.index0}} h3
    {
    font-size: 1rem;
    }
  }
</style> 

<section id="content-blocks-{{forloop.index0}}">
<!-- div background of blue -->
<section class = " padded-sides " id = "{{item.content-block-link}}" >
  <section class = "bg-base padded-sm center grid-middle-center">
      <div class = "col-8_sm-12">
        <h3>{{item.heading}}</h3>
      </div>
      <!-- recent blog link -->
      <section class="grid-center col-12 padded-sides">
        <div class="col-12 grid-center blog-loop blog-masonry">
            {% for post in site.posts limit:3 %}
            <div class="masonry-item col-3_sm-4_xs-12 padded-xsm ">
              
                  <a class="padded"href="{{post.url}}">
                      <div class = "recent-blog">
                          <div class="hover-container background-image" style="background-image:url('{{post.blog_image}}');">
                          </div>
                          <div class = "blog-preview">
                             
                          </div>
                      </div>
                    </a>
              
                
              </div>
            {% endfor %}
          </div>
      </section>    
  </section>
  
</section>

</section>
