<style>

  #content-blocks-{{forloop.index0}} .background-image {min-height: 330px;}
  
  #content-blocks-{{forloop.index0}} h3 
  {
  font-size: 3rem;
  margin-bottom: 5%;
  font-family:  Editors Note Light;
  letter-spacing: -1px;
  
  }


  
  @media(max-width:780px) 
  {
  

  #content-blocks-{{forloop.index0}} .background-image {min-height: 200px;}
  }

  @media(max-width:400px) 
  {
  
  #content-blocks-{{forloop.index0}} h3
    {
    font-size: 2.5rem;
    }
  }
</style> 

<section id="content-blocks-{{forloop.index0}}">
<!-- div background of blue -->
<section class = " padded-sides " id = "{{item.content-block-link}}" >
  <section class = "bg-base padded-sm center grid-middle-center">
      <div class = "col-8_sm-12">
        <h3>{{item.heading}}</h3>
      </div>
      <!-- recent blog link -->
      <section class="grid-center col-12 padded-sides">
        <div class="col-12 grid-center blog-loop blog-masonry">
            <div class="masonry-item col-3_sm-4_xs-12 padded-xsm ">
                  <a class="padded"href="{{item.left-block.link}}">
                      <div class = "">
                          <h5>{{item.left-block.subheading}}</h5>
                          <div class="hover-container background-image" style="background-image:url('{{item.left-block.image}}');">
                          </div>
                          <div class = "blog-preview">
                          </div>
                      </div>
                    </a>
              </div>
              <div class="masonry-item col-3_sm-4_xs-12 padded-xsm ">
                <a class="padded"href="{{item.middle-block.link}}">
                    <div class = "">
                        <h5>{{item.middle-block.subheading}}</h5>
                        <div class="hover-container background-image" style="background-image:url('{{item.middle-block.image}}');">
                        </div>
                        <div class = "blog-preview">
                        </div>
                    </div>
                  </a>
            </div>
            <div class="masonry-item col-3_sm-4_xs-12 padded-xsm ">
              <a class="padded"href="{{item.right-block.link}}">
                  <div class = "">
                      <h5>{{item.right-block.subheading}}</h5>
                      <div class="hover-container background-image" style="background-image:url('{{item.right-block.image}}');">
                      </div>
                      <div class = "blog-preview">
                      </div>
                  </div>
                </a>
          </div>
          </div>
      </section>    
  </section>
  
</section>

</section>
