<section id="content-blocks-{{forloop.index0}}">
    <section class = "" id = "{{item.content-block-link}}">
        <section class="grid-center blog-preview-spacing">
            <div class="">
              <h1 class = "center margin-b-2">{{item.heading}}</h1>
                {% for post in site.posts %}
                <div class= "border-bottom ">
                    <a class="grid-center margin-tb-sm"href="{{post.url}}">
                      <div class = "col-3_sm-8 tall-40 padded-sides background-image blog-bg-image margin-lr-sm" style="background-image:url('{{post.blog_image}}');">
                      </div>
                      <div class = "col-8-middle padded-sides">
                        <h5>{{post.title}}</h5>
                        <p class = "margin-tb-sm">{{post.blog-summary}}</p>
                      </div>
                    </a>
                </div>
                {% endfor %}
              </div>
          </section> 
    </section>
</section>

