<style>
    #content-blocks-{{forloop.index0}} .text-image{

        border-radius: 67% 0% 40% 63% / 59% 22% 35% 46%;
        /* margin-top: -35%; */
        padding: 18rem 8rem; 

    }

    #content-blocks-{{forloop.index0}} .blog-nav a{
        display: block;
        font-family: 'Merriweather Sans', sans-serif;
        text-decoration: underline;
        font-weight: 100;
        margin-bottom: 0.5rem;
    }


    @media(min-width:1920px){

        #content-blocks-{{forloop.index0}} .text-image{
            padding: 22rem 8rem; 
        }

    }

    @media(max-width:990px){

        #content-blocks-{{forloop.index0}} .text-image{
            padding: 18rem 8rem; 
        }

    }

    @media(max-width:770px){

        #content-blocks-{{forloop.index0}} .text-image{
            margin-top: 5%;
            border-radius: 27% 37% 20% 80% / 31% 26% 57% 58%;
            padding: 15rem 21rem;
        }

    }
    @media(max-width:700px){

        #content-blocks-{{forloop.index0}} .text-image{
            margin-top: 5%;
            border-radius: 27% 37% 20% 80% / 31% 26% 57% 58%;
            padding: 15rem 10rem;
        }

    }
    @media(max-width:550px){

        #content-blocks-{{forloop.index0}} .text-image{
            margin-top: 5%;
            border-radius: 0%;
            padding: 15rem 10rem;
        }

    }
    

</style>

<section id="content-blocks-{{forloop.index0}}">
    <section class = "grid " id = "{{item.content-block-link}}">
        <!-- Text Block -->
        <section class = "col-12 ">
            <section class = "grid margin-b-2">
                <div class = "col-7_md-6_sm-10-left padded-sides margin-t-2 ">
                    <h1> {{item.heading}}</h1>
                    <p>{{item.textarea_html}}</p>
                </div>
                <!-- image block -->
                <section class = "col-5_md-6_sm-12-right background-image text-image" style = " background-image: url('{{item.image}}'); ">
                </section>
            </section>
            <section class = "padded-sides padded-tb-sm bg-beige blog-nav " style = "margin-top: -3%;">
                <h4 class = "margin-t-1">{{item.sub-heading}}</h4>
                <a href = "{{site.data.blogs.blog-hot-topics.blog-link.link-one}}"> {{site.data.blogs.blog-hot-topics.blog-name.blog-name-one}}</a>
                <a href = "{{site.data.blogs.blog-hot-topics.blog-link.link-two}}"> {{site.data.blogs.blog-hot-topics.blog-name.blog-name-two}}</a>
                <a href = "{{site.data.blogs.blog-hot-topics.blog-link.link-three}}"> {{site.data.blogs.blog-hot-topics.blog-name.blog-name-three}}</a>
            </section>
        </section>
        
        
        
    </section>
</section>
