<section id="content-blocks-{{forloop.index0}}">
    <section class = "grid" id = "{{item.content-block-id}}">
        <!-- Text Block -->
        <section class = "col-12">
            <section class = "grid-left">
                <div class = "col-7-left padded-sides">
                    <h1> Let's Travel together!</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus beatae iusto asperiores, est laborum quos repudiandae culpa aliquam eum, necessitatibus a aperiam distinctio ab ullam quidem id possimus placeat et! <br> 
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod similique illo ullam ratione, consequuntur dolores non ea? <br> Lorem ipsum dolor sit amet consectetur, adipisicing elit. </p>
                </div>
            </section>
            <section class = "padded-sides padded-tb-sm bg-beige">
                <h4>Hot Topics</h4>
                <a href = "#">link one</a>
                <a href = "#">link one</a>
                <a href = "#">link one</a>
            </section>
        </section>
        
        <!-- Image Block -->
        <section class = "col-12 grid-right">
            <section class = "col-4-right background-image oval" style = "margin-top: -21%; background-image: url('/images/about-us.webp'); padding: 15rem 8rem; border-radius: 67% 0% 40% 63% / 59% 22% 35% 46% ">
            </section>
        </section>
        
    </section>
</section>
