<section id="content-blocks-{{forloop.index0}}">
    <section class = "" id = "{{item.content-block-link}}">
        <section class = "padded-tb-sm grid-middle-center background-image padded-sides" 
        style="
        min-height: 15vh;
        background-image: url('{{item.background_image}}'); background-color: {{item.background-color}};"
        id = "{{item.content-block-id}}">
            <div class = "col-7-center-middle center">
                <a href = "{{item.cta-link}}" class = "blue-button">{{item.cta}}</a>
            </div>
    </section>
    </section>
</section>
