<style>
     #content-blocks-{{forloop.index0}} .button-right a
     {margin-right: 3rem;}
</style>
<section id="content-blocks-{{forloop.index0}}">
    <section class = "grid-right-middle button-right background-image padded-sides" 
    style="
    min-height: 25vh;
    background-image: url('{{item.background_image}}');
    background-color: {{item.background-color}};"
     id = "{{item.content-block-link}}">
        <div class = "col-7-right_md-12 right"><a href = "{{item.cta-link}}" class = "button ">{{item.cta}}</a></div>
        
    </section>
</section>
