<section id="content-blocks-{{forloop.index0}}">
    <section class = "" id = "{{item.content-block-id}}">
        <section class = "grid-middle-center background-image padded-sides" 
        style="
        min-height: 40vh;
        background-image: url('/images/placeholder-5.jpg');"
        id = "{{item.content-block-id}}">
            <div class = "col-5-center-middle center">
                <a href = "#" class = "blue-button">Inquire</a>
            </div>
            
    </section>
    </section>
</section>
