<style>

        #content-blocks-{{forloop.index0}} .form{
            margin-top: 3rem;
        }

        #content-blocks-{{forloop.index0}} input,
        #content-blocks-{{forloop.index0}} textarea
        {
            width: 80%;
            border: 0.5px solid #848282;
            border-radius: 0.5rem;
            min-height: 2rem;
        }

        #content-blocks-{{forloop.index0}} label{
            font-family: Bold Grand Font;}

        #content-blocks-{{forloop.index0}} .button{
            margin-left: 40%;
            border: none;
            font-family: Bold Grand Font;
        }
        


       #content-blocks-{{forloop.index0}} .text-image
        {
            padding-bottom: 50%;
            border-radius: 65% 0% 44% 55% / 60% 10% 16% 39%;
        } 

        #content-blocks-{{forloop.index0}} .form hr{
            border-top: 10px solid #F5F0EB;
            width: 260%;
            translate: -13% 0%;
            z-index: -1;
            position: relative;
        }

        @media(max-width:990px){
            #content-blocks-{{forloop.index0}} .form hr 
                {
                    width: 200%;
                    translate: -24% 0%;
                }
            }

        @media(max-width:768px){
            #content-blocks-{{forloop.index0}} .form hr 
                {
                    width: 154%;
                    translate: -24% 0%;
                }
            
            #content-blocks-{{forloop.index0}} .text-image
                {
                    border-radius: 75% 25% 66% 36% / 73% 35% 59% 24% ;
                    /* margin-top: -10%; */
                } 
            }
        
</style>

<section class = "fadeIn animatedFadeIn animated " id="content-blocks-{{forloop.index0}}">
    <section class = "grid-center form " id = "{{item.content-block-link}}">
        
        <div class = "col-7_sm-10-center padded-sides-lg margin-t-2">
            <h1>{{item.heading}}</h1>
            <hr>
            <div class = "margin-tb ">
                {{item.textarea_html}}
            </div>
            <!---------- Simple Contact Form Elements  ------------->
            <form method="post" action="/success.html">

                <label for="name">{{item.form.label-1}}</label><br>       
                <input type="text" name="name" id="name" required=""/><br>   
            
                <label for="_replyto">{{item.form.label-2}}</label><br>   
                <input type="email" name="_replyto" id="_replyto"  required=""/><br>   
                
                <label for="subject">{{item.form.label-3}}</label><br>   
                <textarea name="subject" id="subject"></textarea><br>   

                <label for="message">{{item.form.label-4}}</label><br>   
                <textarea name="message" id="message"></textarea><br>   

                <input type="hidden" name="inbox_key" value="#">
                <input type="text" name="_gotcha" style="display: none;" />
                <button class = "button huge-left-margin right" type="submit"> {{item.form.button}} </button>
                
            </form>
            


        </div>
         <!-- Image Block -->
        <!-- Oval class temporary -->
        <div class = "col-5_sm-9-center padded text-image background-image margin-b-1" style = " background-image: url('{{item.image}}'); "></div>
    </section>
</section>
