<style>
        #content-blocks-{{forloop.index0}} h1
        {
        font-size: 2rem;
        font-weight: lighter;
        }

        #content-blocks-{{forloop.index0}} button {border: 0px;}
        
        #content-blocks-{{forloop.index0}} .form{
            margin-top: -1.2rem;
        }

        #content-blocks-{{forloop.index0}} input,
        #content-blocks-{{forloop.index0}} textarea
        {
            width: 100%;
            border: 0.5px solid #848282;
            border-radius: 0.5rem;
            min-height: 2rem;
            margin-bottom: 1.5rem;
        }

        #content-blocks-{{forloop.index0}} label{
            font-family: Open Sans;}

        #content-blocks-{{forloop.index0}} .button{
            /* margin-left: 40%; */
            border: none;
            /* font-family: Bold Grand Font; */
        }
        


       #content-blocks-{{forloop.index0}} .text-image
        {
            padding-bottom: 35%;
            border-radius: 65% 38% 44% 45% / 60% 50% 56% 35%;
        } 

        #content-blocks-{{forloop.index0}} .form hr{
            border-top: 10px solid #F5F0EB;
            width: 260%;
            translate: -13% 0%;
            z-index: -1;
            position: relative;
        }

        @media(max-width:990px){
            #content-blocks-{{forloop.index0}} .form hr 
                {
                    width: 200%;
                    translate: -24% 0%;
                }
            }

        @media(max-width:768px){
            #content-blocks-{{forloop.index0}} .form hr 
                {
                    width: 154%;
                    translate: -24% 0%;
                }
            
            #content-blocks-{{forloop.index0}} .text-image
                {
                    border-radius: 75% 25% 66% 36% / 73% 35% 59% 24% ;
                    /* margin-top: -10%; */
                } 
            }
        
</style>

<section class = "" id="content-blocks-{{forloop.index0}}">
    <section class = "grid-center form " id = "{{item.content-block-link}}">
        
        <div class = "col-6_sm-10_xs-12-center padded-sides-lg ">
            <h1 class = "padded-t-1">{{item.heading}}</h1>
            <!-- <hr> -->
            <div class = "margin-t margin-b-1">
                {{item.textarea_html}}
            </div>
            <!---------- Simple Contact Form Elements  ------------->
            <form method="post" action="/success.html">

                <label>{{item.form.label-1}}</label><br>       
                <input type="text" name="{{item.form.label-1}}" required=""/><br>   
            
                <label>{{item.form.label-2}}</label><br>   
                <input type="email" name="_replyto" required=""/><br>   
         

                <label>{{item.form.label-3}}</label><br>   
                <textarea name="{{item.form.label-3}}"></textarea><br>   

                <input type="hidden" name="inbox_key" value="trendy-travel-duo-general-form">
                <input type="text" name="_gotcha" style="display: none;" />
                <div class = "center">
                    <button class = "blue-button huge-left-margin" type="submit"> {{item.form.button}} </button>
                </div>
                
                
            </form>
            


        </div>
         <!-- Image Block -->
        <!-- Oval class temporary -->
        <div class = "col-4_sm-9-center padded text-image background-image margin-b-1" style = " background-image: url('{{item.image}}'); "></div>
    </section>
</section>
