<section id="content-blocks-{{forloop.index0}}" style = "background-color: {{item.background-color}};">
    <section class = "" id = "{{item.content-block-id}}" >
        <div class = "padded-sides-lg center">
            <h2 >{{item.heading}}</h2>
            <a class = "button" href = "{{item.cta-link}}"> <span class = "underline">{{item.cta}}</span></a>
        </div>
        <section class = "padded-tb center" style = "background-color: {{item.background-color}};">
            <!-- LightWidget WIDGET -->
            {{site.data.general.instagram-widget}}
        </section>
       
    </section>
</section>
