<style>
.ig{
    width: 24%;
}
.ig .fa-brands{
    font-weight: 300;
    font-size: 1.6rem;
    margin: 0% 1rem 0% 2%;
    display: inline-block;
}


        @media(max-width: 1300px){
                .ig {
                width: 38%;
                }
        }

        @media(max-width: 650px){
                .ig {
                width: 42%;
                }
        }

        @media(max-width: 550px){
                .ig {
                width: 50%;
                }
        }

        @media(max-width: 450px){
                .ig {
                width: 70%;
                }
        }
</style>

<section id="content-blocks-{{forloop.index0}}" style = "background-color: {{item.background-color}};">
    <section class = "" id = "{{item.content-block-link}}" >
        <div class = "padded-sides-lg center">
            <h4 class ="">{{item.heading}}</h4>
            <a class = "button-ig" href = "{{site.data.general.social-links.instagram}}" > <i class="fa-brands fa-instagram"></i><span class = "underline">{{item.cta}}</span></a>
        </div>
        <section class = " center" style = "background-color: #F5F0EB">
            <!-- LightWidget WIDGET -->
            {{site.data.general.instagram-widget}}
        </section>
       
    </section>
</section>
