<section id="content-blocks-{{forloop.index0}}">
    <section class = "" id = "{{item.content-block-id}}">
        <div class = "grid-middle margin-t-2 center">
            <div class = "col-4"><hr></div>
            <div class = "col-4"><h1>Work With Us</h1></div>
            <div class = "col-4"><hr></div>
        </div>
        <div class = "padded-sides-xlg padded-tb-sm center">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda odit maxime recusandae fugiat, tempora sapiente quidem dicta modi quasi, ad doloribus ullam? Eaque reprehenderit optio cum quas adipisci dolores sed? </p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit pariatur nihil id. Voluptatum incidunt minima sed reiciendis alias, dignissimos nostrum dolorum. Reprehenderit odit nisi eos delectus officia unde alias earum!</p>
        </div>
        <div class = "padded-sided-xlg padded-tb-sm center">
            <p class = "padded-sides"><a class = "blue-button">Inquire</a> OR <span class = "underline">Jump to Portfolio</span></p>
        </div>
    </section>
</section>
