<section id="content-blocks-{{forloop.index0}}">
    <section class="grid-center padded background-image" id="{{item.content-block-link}}" style="background-image: url('{{item.background_image}}');">
        <div class="col-9_sm-12 padded-sides">

<!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-071822.css" rel="stylesheet"
type="text/css">
<style type="text/css">
#mc_embed_signup
    {
    background: clear:left; font:17px Helvetica,Arial,sans-serif; 
    }

#mc_embed_signup input 
    {
    border-bottom: 1px solid transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0%;
    -webkit-border-radius: 0%;
    -moz-border-radius: 0%;
    border-radius: 100px;
    padding: 2px;
    }

#mc_embed_signup .blue-button 
    {
    border-radius: 100px;
    padding: 0px 30px;
    margin: 0px !important;
    background-color: #DEE9EA;
    }

#mc_embed_signup input:focus {
    border: 0px;}

#mc_embed_signup .blue-button input 
    {
    font-family: Bold Grand Font;
    font-weight: bolder;
    font-size: large;
    background-color: transparent;
    color: #444444;
    margin: 13px 10px 0px 10px;
    }

    #mc_embed_signup .mc-field-group {
    padding-bottom: 0%;
    }
    #mc_embed_signup .helper_text 
    {
    margin-top: 0px;
    padding: 0px;
    }
#mc_embed_signup .blue-button:hover {background-color: #ECE2D9;}

#mc_embed_signup h2
    {
     color: #444444;
     font-size: 2.8rem;
     text-align: center;
     font-family: Bold Grand Font;
     font-weight: bolder;
    }

#mc_embed_signup h6
    {
     color: #444444;
     font-size: 1rem;
     text-align: center;
     font-family: 'Merriweather Sans', sans-serif;
     font-weight: lighter;
    }

#mc_embed_signup input
    {
    font-family: 'Merriweather Sans', sans-serif;
    color: #848282;
    font-size: 15px;
    }

#mc_embed_signup .asterisk
    {
    color: #848282;
    }

    #mc-embedded-subscribe {
    display: inline; }


#mc_embed_signup .mc-field-group input {
    padding: 14px;
}

#mc_embed_signup form {margin: 0px;}
    
#mc_embed_signup .helper_text {background-color: transparent;}

@media(max-width:750px){
    #mc_embed_signup h2 {font-size: 1.5rem;}
    #mc_embed_signup .orange-button {font-size: 1rem;} 
}
/* Add your own Mailchimp form style overrides in your site stylesheet or in this style
block.
We recommend moving this block and the preceding CSS link to the HEAD of your
HTML file. */
</style>
<div id="mc_embed_signup" class="background-image">
<form action="https://trendytravelduo.us21.list-manage.com/subscribe/post?u=256818add38b750550ddc9aaf&amp;id=574e842ebd&amp;f_id=00a158e1f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate grid" target="_blank" novalidate>
<div id="mc_embed_signup_scroll" class="grid">
    <h2 class="col-12">{{item.heading}}</h2>
    <h6 class="col-12 center padded-b">{{item.subheading}}</h6>
    <div class="mc-field-group col-4_xs-12 padded-sides-sm">
        <label for="mce-FNAME"> </label>
        <input type="text" value="Your name" name="Your name" class="" id="mce-FNAME">
        <span id="mce-FNAME-HELPERTEXT" class="helper_text"></span>
    </div>
    <div class="mc-field-group col-4_xs-12 padded-sides-sm">
        <label for="mce-EMAIL"> 
        </label>
        <input type="email" value="Your email address" name="EMAIL" class="required email" id="mce-EMAIL"
        required>
        <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
    </div>
    <div class="padded-sides-sm grid col-4_xs-12">
        <div class="clear col-12 blue-button">
            <input type="submit" value="{{item.call-to-action-button}}" name="subscribe" id="mc-embedded-subscribe" class="">
        </div>
    </div>
<div id="mce-responses" class="clear">
<div class="response" id="mce-error-response" style="display:none"></div>
<div class="response" id="mce-success-response" style="display:none"></div>
</div> <!-- real people should not fill this in and expect good things - do not remove
this or risk form bot signups-->
<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
name="b_a0b50d2157ee6b14911dc8556_383167d06a" tabindex="-1" value=""></div>
</div>
</form>
</div>

{{item.add-script-here}}

        </div>
    </section>
</section>
<section class="grid-center padded background-image" id="{{item.content-block-link}}" style="background-image: url('{{item.background_image}}');">
    <div class="col-9_sm-12 padded-sides">

<link href="//cdn-images.mailchimp.com/embedcode/classic-071822.css" rel="stylesheet" type="text/css">
<style type="text/css">

#mc_embed_signup input 
    {
    border-bottom: 1px solid transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0%;
    -webkit-border-radius: 0%;
    -moz-border-radius: 0%;
    border-radius: 100px;
    padding: 2px;
    }

#mc_embed_signup .blue-button 
    {
    border-radius: 100px;
    padding: 0px 30px;
    margin: 0px !important;
    background-color: #DEE9EA;
    }

#mc_embed_signup input:focus {
    border: 0px;}

#mc_embed_signup .blue-button input 
    {
    font-family: Bold Grand Font;
    font-weight: bolder;
    font-size: large;
    background-color: transparent;
    color: #444444;
    margin: 13px 10px 0px 10px;
    }

    #mc_embed_signup .mc-field-group {
    padding-bottom: 0%;
    }
    #mc_embed_signup .helper_text 
    {
    margin-top: 0px;
    padding: 0px;
    }
#mc_embed_signup .blue-button:hover {background-color: #ECE2D9;}

#mc_embed_signup h2
    {
     color: #444444;
     font-size: 2.8rem;
     text-align: center;
     font-family: Bold Grand Font;
     font-weight: bolder;
    }

#mc_embed_signup h6
    {
     color: #444444;
     font-size: 1rem;
     text-align: center;
     font-family: 'Merriweather Sans', sans-serif;
     font-weight: lighter;
    }

#mc_embed_signup input
    {
    font-family: 'Merriweather Sans', sans-serif;
    color: #848282;
    font-size: 15px;
    }

#mc_embed_signup .asterisk
    {
    color: #848282;
    }

    #mc-embedded-subscribe {
    display: inline; }


#mc_embed_signup .mc-field-group input {
    padding: 14px;
}

#mc_embed_signup form {margin: 0px;}
    
#mc_embed_signup .helper_text {background-color: transparent;}

@media(max-width:750px){
    #mc_embed_signup h2 {font-size: 1.5rem;}
    #mc_embed_signup .orange-button {font-size: 1rem;} }
/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
  We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
    <form action="https://trendytravelduo.us21.list-manage.com/subscribe/post?u=256818add38b750550ddc9aaf&amp;id=574e842ebd&amp;f_id=00a158e1f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
        <h2>Sign up to our newsletter!</h2>
        <h6 class="col-12 center padded-b">{{item.subheading}}</h6>
        <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
<label for="mce-FNAME">First Name  <span class="asterisk">*</span>
</label>
<input type="text" value="" name="FNAME" class="required" id="mce-FNAME" required>
<span id="mce-FNAME-HELPERTEXT" class="helper_text"></span>
</div>
<div class="mc-field-group">
<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" required>
<span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
</div>
<div id="mce-responses" class="clear foot">
<div class="response" id="mce-error-response" style="display:none"></div>
<div class="response" id="mce-success-response" style="display:none"></div>
</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_256818add38b750550ddc9aaf_574e842ebd" tabindex="-1" value=""></div>
        <div class="optionalParent">
            <div class="clear foot">
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="blue-button">
                <p class="brandingLogo"><a href="http://eepurl.com/itd0T6" title="Mailchimp - email marketing made easy and fun"><img src="https://eep.io/mc-cdn-images/template_images/branding_logo_text_dark_dtp.svg"></a></p>
            </div>
        </div>
    </div>
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
</div>
</section>
