<style>

    #content-blocks-{{forloop.index0}} hr{
        border: 10px solid #ECE2D9;
        border-radius: 20px;
        position: relative;
        z-index: -1;
        margin-top: -4%;
    }

    #content-blocks-{{forloop.index0}} h1{
        font-size: 2rem;
        text-transform: uppercase;
    }
  #content-blocks-{{forloop.index0}}  h3{
    font-size: 1.2rem;
    text-align: center;
    margin: 4% 0;
  }
  #content-blocks-{{forloop.index0}} .portfolio-block .slider-for .background-image{
    padding-bottom: 30rem;
  }

  #content-blocks-{{forloop.index0}} .portfolio-block .slider-for{
    padding: 2% 30%;
  }
  #content-blocks-{{forloop.index0}} .portfolio-block .slider-nav .background-image{
    padding-bottom: 10rem;
    margin: 0.1%;
    }

    #content-blocks-{{forloop.index0}} .portfolio-slider{
        padding: 5% 20%;
    }


    /* Position the left arrow to the left of the slider */
    #content-blocks-{{forloop.index0}} .prev-left {
        /* font-family: 'Nanum Gothic', sans-serif; */
        font-family: 'Nanum Myeongjo', serif;
        font-size: 3rem;
        color: black;
        font-weight: lighter;
        position: absolute;
        left: -10%; /* Adjust as needed */
        top: 50%; /* Adjust as needed */
        transform: translate(0, -50%); /* Center vertically */
        z-index: 2; /* Ensure it's above the slider */
    }

    /* Position the right arrow to the right of the slider */
    #content-blocks-{{forloop.index0}} .next-right {
        /* font-family: 'Nanum Gothic', sans-serif; */
        font-family: 'Nanum Myeongjo', serif;
        font-size: 3rem;
        color: black;
        font-weight: lighter;
        position: absolute;
        right: -10%; /* Adjust as needed */
        top: 50%; /* Adjust as needed */
        transform: translate(0, -50%); /* Center vertically */
        z-index: 2; /* Ensure it's above the slider */
    }


</style>


<section id="content-blocks-{{forloop.index0}}">
    <section class = "portfolio-slider" id = "{{item.content-block-link}}">

        <h1 class = "center">
            Ronja
        </h1>
        <hr>
        <h3>Requested: aesthetic Instagram content with full creative freedom</h3>

        <section class = "portfolio-block">

            <div class="slider-for">
				<div class = "background-image bg-temporary
                 "></div>
                 <div class = "background-image bg-temporary-2
                 "></div>
                 <div class = "background-image bg-temporary-3
                 "></div>
                 <div class = "background-image bg-temporary
                 "></div>
                 <div class = "background-image bg-temporary-2
                 "></div>
                 <div class = "background-image bg-temporary-3
                 "></div>
                 <div class = "background-image bg-temporary
                 "></div>
                 <div class = "background-image bg-temporary-2
                 "></div>
                 <div class = "background-image bg-temporary-3
                 "></div>
            
				
			</div>
			<div class=" slider-nav ">
				<div class = "background-image bg-temporary
                 "></div>
                 <div class = "background-image bg-temporary-2
                 "></div>
                 <div class = "background-image bg-temporary-3
                 "></div>
                 <div class = "background-image bg-temporary
                 "></div>
                 <div class = "background-image bg-temporary-2
                 "></div>
                 <div class = "background-image bg-temporary-3
                 "></div>
                 <div class = "background-image bg-temporary
                 "></div>
                 <div class = "background-image bg-temporary-2
                 "></div>
                 <div class = "background-image bg-temporary-3
                 "></div>
			</div>


        </section>




    </section>
</section>