
<style>

  #content-blocks-{{forloop.index0}} .background-image {min-height: 300px;}
  
  #content-blocks-{{forloop.index0}} h3 
  {
  font-size: 1.2rem;
  margin-bottom: 5%;
  
  }


  
  @media(max-width:780px) 
  {
  
  #content-blocks-{{forloop.index0}} h3
    {
    font-size: 1rem;
    }

  #content-blocks-{{forloop.index0}} .background-image {min-height: 200px;}
  }

  @media(max-width:400px) 
  {
  
  #content-blocks-{{forloop.index0}} h3
    {
    font-size: 1rem;
    }
  }
</style> 

<section id="content-blocks-{{forloop.index0}}">
  <!-- div background of blue -->
  <section class = "bg-pale padded-sides " id = "{{item.content-block-link}}" >
    <section class = "bg-base padded-sm center grid-middle-center">
        <div class = "col-8_sm-12">
          <h1>{{item.heading}}</h1>
        </div>
        <!-- recent blog link -->
        <section class="grid-center col-12 padded-sides recent-blog-background-color">
          <div class="col-12 grid-center blog-loop blog-masonry">
              {% for post in site.categories.digital-nomad limit:3 %}
              <div class="masonry-item col-3_sm-4_xs-12 padded-xsm ">
                
                    <a class="padded"href="{{post.url}}">
                        <div class = "recent-blog">
                            <div class="hover-container background-image" style="background-image:url('{{post.blog_image}}'); border-radius: 2rem 2rem 0 0 ;">
                            </div>
                            <div class = "blog-preview">
                                <h3 class="no-margin blog-heading text-center padded" style = "background-color: white; border-radius: 0 0 2rem 2rem;"> {{post.title}} </h3>
                            </div>
                        </div>
                      </a>
                
                  
                </div>
              {% endfor %}
            </div>
        </section>    
    </section>
    
  </section>
  
</section>
  