<style>
    #content-blocks-{{forloop.index0}} .slick-prev:before {
        content: "<";
        color: black;
        font-size: 3rem;
        font-weight: lighter;
        font-family: 'Nanum Myeongjo', serif;
        opacity: 1;
   
        
    }

    #content-blocks-{{forloop.index0}} .slick-next:before {
        content: ">";
        color: black;
        font-size: 3rem;
        font-weight: lighter;
        font-family: 'Nanum Myeongjo', serif;
        opacity: 1;
    }
    #content-blocks-{{forloop.index0}} .slick-next, 
    #content-blocks-{{forloop.index0}} .slick-prev{
        top: 30%;
        color: white;
        opacity: 1;
    }

    #content-blocks-{{forloop.index0}} h4{
        font-family: Editors Note Light Italic;
    }
    #content-blocks-{{forloop.index0}} p{
        font-family: Editors Note Light;
    }

    #content-blocks-{{forloop.index0}} .name {
        font-family: Open Sans;
        text-transform: uppercase;
        font-size: 1rem !important;
        padding-top: 20px;
        font-weight: 400;
    }

    #content-blocks-{{forloop.index0}} .name p {
        font-family: Open Sans;
        text-transform: uppercase;
        font-size: 1rem !important;
        padding-top: 20px;
    }

    #content-blocks-{{forloop.index0}}  .slick-dots li {margin: 0 0.8rem;}
    
    #content-blocks-{{forloop.index0}}  .slick-dots li button:before{
        top: -1rem;
        display: block;
        width: 2rem;
        height: 2rem;
        background-color: white;
        color: white;
        border-radius: 100%;
        opacity: 1;  
    }

    #content-blocks-{{forloop.index0}} .scroll p {font-size: 1.4rem;}


    #content-blocks-{{forloop.index0}}  .slick-dots li.slick-active button:before{
        background-color: white;
        color: white;
        border: 2px solid #848282;
    }

    @media(max-width:990px){
        #content-blocks-{{forloop.index0}} .slick-prev{
            left: -35px;
        }
    }

    @media(max-width:850px){

        #content-blocks-{{forloop.index0}} .slick-prev:before, #content-blocks-{{forloop.index0}} .slick-next:before {
            font-size: 3rem;
            }
         
        /*#content-blocks-{{forloop.index0}} .slick-next{
            left: -10px;
        } */

    }


</style>

<section id="content-blocks-{{forloop.index0}}">
    <section class = "bg-pale" id = "{{item.content-block-link}}">
        <section class="grid-center-middle scroll-block padded" id="{{item.content-block-link}}">
            <div class="col-12 center ">
                <h4 class = "featured" style = "margin-bottom: 0rem;">{{item.heading}}</h4>
            </div>
            <div class=" grid-center col-9_sm-10-center background-color border-left single-item padded-sides"style="padding-top: 2.5%;">
                {% for scroll in item.scroll %}
                <div class="grid-middle text-center scroll col-12_md-8 center">
                  {{scroll.quote.textarea_html}}
                  <div class = "name">{{scroll.name.textarea_html}}</div>
                </div>
                {% endfor %}
              </div>
            
        </section>
    </section>
</section>
