<style>
    #content-blocks-{{forloop.index0}} img
        {
        margin: -7% 0% 0% 71%;
        width: 17%;
        }
    

    @media(max-width: 500px){
        #content-blocks-{{forloop.index0}} img
        {
            margin: -19% 0% 0% 70%;
            width: 26%;
            rotate: 16deg;
        }

    }
</style>

<section id="content-blocks-{{forloop.index0}}">
    <section class = "" id = "{{item.content-block-link}}">
        <!-- image Grid -->
        <div class = "grid-center ">
            {% for grid in item.grid %}
                <div class = " col-2 margin-lr-sm square-sm background-image" style = "background-image: url('{{grid.image}}');"></div>
            {% endfor %}
        </div>

        <div class = "grid-middle-center margin-t-2 center">
            <div class = "col-3_sm-2_xs-1"><hr></div>
            <div class = "col-6_sm-8_xs-9 reveal fade-in">{{item.heading.textarea_html}}</div>
            <div class = "col-3_sm-2_xs-1"><hr></div>
            <div class = "col-6_sm-8_xs-9 reveal fade-in">{{item.body.textarea_html}}</div>
            <img class = "" src = "{{item.icon_image}}">
        </div>
    </section>
</section>
