<style>
    #content-blocks-{{forloop.index0}} .text-image 
      {
        border-radius: 56% 44% 70% 30% / 70% 47% 53% 30% ;
        padding-bottom: 30%;
    }
    /* X-Large Screen: Larger than typical laptop */
    @media(min-width:1920px){
        .large-hide { display: none; }
        .large-show { display: block; }

    }
    /* Large Screen: Larger than typical laptop */
    @media(max-width:990px){


        }

    /* Medium Screen - Tablet */
    @media(max-width:850px){
        #content-blocks-{{forloop.index0}} .text-image 
            {
                padding: 34% 37%;
                text-align: center;
            }

    }


    @media(max-width:770px){


    }

    /* Small Screen - Mobile */
    @media(max-width:550px){
        .mob-hide { display: none; }
        .mob-show { display: block; }

    }

    /* Extra Small*/
    @media(max-width:450px){


    }



</style>

<section id="content-blocks-{{forloop.index0}}">
    <section class = "padded-sides grid-top" id = "{{item.content-block-link}}" style = "background-color: {{background-color}};">
    <!-- Image Block -->
    <div class = "col-4_md-5_sm-9 padded text-image background-image" style = "margin-right: 2%; margin-bottom: 2rem; background-image: url('{{item.image}}'); "></div>

    <!-- text block -->
    <div class = "col-7_md-12 padded-sides center">
        <h3>{{item.heading}}</h3>
        {{item.textarea_html}}
        <a href = "{{item.cta-link}}" class = "button">{{item.cta}}</a>
    </div>
    </section>
</section>
