<section id="content-blocks-{{forloop.index0}}">
    <section class = "padded-sides-xlg padded-tb-sm  bg-beige" id = "{{item.content-block-id}}">
        <h4 class = "center">We Offer the following Services</h4>
        <ul class = "padded-sides-lg">
            <li>Content creation: photos and videos</li>
            <li>Content creation: photos and videos</li>
            <li>Content creation: photos and videos</li>
            <li>Content creation: photos and videos</li>
            <li>Content creation: photos and videos</li>
        </ul>
    </section>
</section>
