<section id="content-blocks-{{forloop.index0}}">
    <section class = "padded-sides grid-top" id = "{{item.content-block-id}}">
    <!-- Image Block -->
    <!-- Oval class temporary -->
    <div class = "col-3-top oval padded text-image background-image" style = "margin-right: 2%; background-image: url('/images/about-us.webp'); border-radius: 56% 44% 70% 30% / 70% 47% 53% 30%  ;"></div>

    <!-- text block -->
    <div class = "col-8-top padded-sides center">
        <h3>Hi There</h3>
        <p class = "left">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, soluta inventore. Repudiandae quidem est quod repellat mollitia asperiores. Ratione velit ducimus eveniet accusantium quidem inventore fugit nihil, itaque sed neque? <br> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur corrupti nobis dolorum eos nam distinctio rerum, suscipit fugiat optio ut magni laboriosam quas quidem voluptatibus totam harum cum? Minima, error? <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
        <a href = "#" class = "button">About Us</a>
    </div>
    </section>
</section>
