<style>

#content-blocks-{{forloop.index0}} .split-bg 
    {
    background: linear-gradient(180deg, {{item.colors.top-color}} 11%,{{item.colors.bottom-color}} 0%);
    min-height: 50vh;
    }
#content-blocks-{{forloop.index0}} h3 {font-size: 2rem;}  

#content-blocks-{{forloop.index0}} h4
    {
    font-size: 1.6rem;
    font-family: 'Editors Note Light';
    letter-spacing: 0.5px;
    margin-bottom: 10px;
    color: black;
    }

    #content-blocks-{{forloop.index0}} .text-block{
        margin-top: 1rem;
    }
#content-blocks-{{forloop.index0}} .text-image {
    padding-bottom: 25%;}


/* ------------- // --------------- Mobile Styles */

@media(max-width:1024px){
    #content-blocks-{{forloop.index0}} .text-image {
    padding-bottom: 45%;
}

#content-blocks-{{forloop.index0}} .split-bg 
    {
    background: linear-gradient(180deg, {{item.colors.top-color}} 0%,{{item.colors.bottom-color}} 0%);
    }

    #content-blocks-{{forloop.index0}} .text-block{
        margin-top: 2rem;
    }

}


@media(max-width:990px){
#content-blocks-{{forloop.index0}} .text-image {
    padding-bottom: 52%;
}}

@media(max-width:500px){
#content-blocks-{{forloop.index0}} .text-image {
    padding-bottom: 85%;
}}

</style>
<section id="content-blocks-{{forloop.index0}}">
    <section class = "grid-center " id = "{{item.content-block-link}}" style = "background-color: {{item.colors.background-color}};">
        <section class = "padded-sides split-bg grid-center col-12">

                <!-- text block -->
            <div class = "col-7-middle_md-9_xs-12  padding-b-s padded-sides padded-t text-block">
                {{item.body.textarea_html}}
            </div>

            <!-- Image Block -->
            <div class = "col-4_md-9_xs-12  padded text-image background-image " style = "margin:  0% 4% 2% 0%; background-image: url('{{item.image}}'); border-radius: 50% 50% 54% 46% / 74% 63% 37% 26%;"></div>
        </section>

        <section class = "col-9_xs-12-center quote padded">
            {{item.quote.textarea_html}}
        </section>
    </section>
</section>
