--- 
layout: blog-categories
permalink: 
--- 
<style>
  .blog-hero{border-radius: 0% 0% 57% 40% / 31% 26% 57% 58% ;}

  h1 {font-size: 2.5rem;}

  @media(max-width:770px){
    .blog-hero{border-radius: 0% ;}

  }
</style>
<section class = "grid  background-image blog-hero" style = "background-image: url('{{page.blog_image}}'); min-height: 55vh; "id = "{{item.content-block-link}}">
</section>
<section class="grid-middle-center padded-t ">
  <div class = "col-2_xs-1"><hr></div>
  <div class="col-8_xs-10 center"><h1>{{page.title}}</h1></div>
  <div class = "col-2_xs-1"><hr></div></section>
<section class = "grid-left">
    <div class = "col-2">
        <div class="social-share  mob-hide">
          <nav class="social-share-icons-color bg-base center" style = "padding: 20% 0% 80% 0%; border-radius: 20rem;">
            <p class="">
              <a href="https://twitter.com/intent/tweet?{{site.data.general.basics.your-url}}{{page.url}}" rel="nofollow" target="_blank" title="Share on Twitter">
                <i class="fab fa-twitter"></i>
              </a>
            </p>
            <p>
              <a href="https://facebook.com/sharer.php?u={{site.data.general.basics.your-url}}{{page.url}}" rel="nofollow" target="_blank" title="Share on Facebook">
                  <i class="fab fa-facebook-f"></i>
              </a>
            </p>
            <p>
              <a href="http://pinterest.com/pin/create/link/?{{site.data.general.basics.your-url}}{{page.url}}" rel="nofollow" target="_blank" title="Share on Pinterest">
                <i class="fab fa-pinterest-p"></i>
            </a>
            </p>
            <h4 class="social-share-text"> Share </h4>
          </nav>
          
        </div>
    </div>
</section>

  {{content}}

